{% extends 'layout.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.summary|e('html_attr') }}{% endblock %}
{% block content %}
<main class="article container" id="content">
  <section class="image">
    {% if article.image_file %}
      <img src="{{ doc_root }}uploads/{{ article.image_file }}" alt="{{ article.image_alt }}">
    {% else %}
      <img src="{{ doc_root }}uploads/blank.png" alt="">
    {% endif %}
  </section>
  <section class="text">
    <h2>{{ article.title }}</h2>
    <div class="social">
      <div class="like-count">
        {% if session.id == 0 %}
          <a href="{{ doc_root }}login/"><span class="icon-heart-empty"></span></a>
        {% else %}
          <a href="{{ doc_root }}like/{{ article.id }}">
          {% if liked %}
            <span class="icon-heart"></span></a>
          {% else %}
            <span class="icon-heart-empty"></span>
          {% endif %}
          </a>
        {% endif %}
        {{ article.likes }}
      </div>
      <div class="comment-count">
        <span class="icon-comment"></span> {{ article.comments }}
      </div>
    </div>
    <div class="date">{{ article.created|date('F d, Y') }}</div>
    <div class="content">{{ article.content|raw}}</div>
    <p class="credit">
      Posted in <a href="{{ doc_root }}category/{{ article.category_id }}/{{ article.seo_category }}">{{ article.seo_category }}</a>
      by <a href="{{ doc_root }}member/{{ article.member_id }}">{{ article.author }}</a>
    </p>
  </section>

  <section class="comments">
    <h2>Comments</h2>
    {% for comment in comments %}
    <div class="comment">
      <img src="{{ doc_root }}uploads/{{ comment.picture }}" alt="{{ comment.author }}" />
      <b>{{ comment.author }}</b><br>
      {{ comment.posted|date('H:i a - F d, Y') }}<br>
      <p>{{ comment.comment|raw }}</p>
    </div>
    {% endfor %}

    {% if session.id > 0 %}
    <form action="" method="post">
      <label for="comment">Add comment: </label>
      <textarea name="comment" id="comment" class="form-control"></textarea>
      {% if error == true %}<div class="error">{{ error }}</div>{% endif %}
      <br><input type="submit" value="Save comment" class="btn btn-primary">
    </form>
    {% else %}
    <p>You must <a href="{{ doc_root }}login">log in to make a comment</a>.</p>
    {% endif %}
  </section>
</main>
{% endblock %}