{% extends 'layout.html' %}

{% block title %}Update Password{% endblock %}
{% block content %}
<main class="container" id="content">
  <section class="header"><h1>Reset Password</h1></section>
  <form method="post" action="?token={{ token }}" class="form-membership">
    {% if errors.message %}<div class="alert alert-danger">{{ errors.message }}</div>{% endif %}
    <div class="form-group">
      <label for="password">Enter Your New Password:</label>
      <input type="password" name="password" id="password" class="form-control">
      <span class="errors">{{ errors.password|raw }}</span><br>
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Your Password:</label>
      <input type="password" name="confirm" id="confirm"  class="form-control">
      <span class="errors">{{ errors.confirm }}</span><br>
    </div>
    <input type="submit" value="Submit New Password" class="btn">
  </form>
</main>
{% endblock %}