{% extends 'layout.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<main class="container" id="content">
  {% if sent == false %}
  <form method="post" action="password-lost" class="form-membership">
    <h1>Forgot your password?</h1>
    <label for="email">Enter your email address: </label>
    <input type="text" name="email" id="email" class="form-control"><br>
    <input type="submit" name="submit" value="Send email to reset password" class="btn">
    <span class="errors">{{ error }}</span><br>
  </form>
  {% else %}
  <p>If your address is registered, we will email instructions to reset your password.</p>
  {% endif %}
</main> 
{% endblock %}