{% extends 'admin/layout.html' %}
{% block content %}

  <main class="container admin" id="content">
    <form action="category-delete.php?id={{ category.id }}" method="POST" class="narrow">
      <h1>Delete Category</h1>
      <p>Click confirm to delete the category: <em>{{ category.name }}</em></p>
      <input type="submit" name="delete" value="confirm" class="btn btn-primary" />
      <a href="categories.php" class="btn btn-danger">cancel</a>
    </form>
  </main>

{% endblock %}