{% extends "layout.html" %}
{% block title %}Profile picture{% endblock %}

{% block content %}
<main class="container" id="content">

  {% if member.picture %}

  <section class="header"><h1>Delete picture</h1></section>
  <form action="member-edit-picture.php" method="POST" class="form-membership">
    <p class="center">Click delete to remove your profile picture: <br><img src="uploads/{{ member.picture }}" alt="{{ member.forename }}" class="profile"></p>
    <input type="submit" name="delete" value="delete" class="btn btn-primary" />
    <a href="member.php?id={{ member.id }}" class="btn btn-danger">cancel</a>
  </form>

  {% else %}

  <section class="header"><h1>Upload picture</h1></section>
  <form action="member-edit-picture.php" method="POST"  enctype="multipart/form-data"  class="form-membership">
    {% if errors %}<div class="alert alert-danger">{{ errors }}</div>{% endif %}
    <div class="form-group">
      <label for="image">Select profile picture:</label>
      <input type="file" name="image" id="image" />
    </div>
    <input type="submit" name="upload" value="Upload" class="btn btn-primary" />
  </form>

  {% endif %}
</main>
{% endblock %}